#{extends 'main.html' /}
#{set title:'Formulário' /}

<!-- Vou fazer primeiro o form -->

<form action="@{Pessoas.salvar}" method="post">
    <!-- Pitico tinha vindo aqui -->

    <!-- Esse input escondido é pra ajudar na hora de editar, caso não tenha, estaremos salvando outra pessoa com as mesas -->
    <!-- Informações -->
    <input type="hidden" name="pessoa.id" value="${pessoa?.id}">


    <!-- agr os inputs para cada atributo -->

    <!-- NOME -->
    <input type="text" name="pessoa.nome" value="${pessoa?.nome}">
    <span>#{error 'pessoa.nome' /}</span> <br><br>

    <!-- EMAIL -->
    <input type="text" name="pessoa.email" value="${pessoa?.email}">
    <span>#{error 'pessoa.email' /}</span> <br><br>
    <!-- SENHA -->
    <input type="password" name="pessoa.senha" value="${pessoa?.senha}">

    <button type="submit">Enviar</button>

    <!-- O basico de um form é isso 
    - Mandar para uma action salvar
    - Inputs para cada atributo, incluindo o ID (esse primeiro input)
    - e um btn
    -->

    <!-- Feito isso, vou para o listar -->

</form>