#{extends 'main.html' /}
#{set title:'Formulário' /}

<main class="form-page-content">

    <form action="@{Pets.salvar}" method="post" class="pet-form">

        <h1>
            #{if fe} Edição #{/if}
            #{else} Cadastro #{/else}
            de Pet
        </h1>

        <input type="hidden" name="felino.id" value="${fe?.id}">

        <!-- Input Nome -->
        <div class="form-group">
            <label for="petNome">Nome do Pet:</label> <span class="error"> #{error 'felino.nome'/}</span>
            <input type="text" id="petNome" name="felino.nome" value="${fe?.nome}" placeholder="Informe o nome do pet"
                >
        </div>
        <!-- Input dataNascimento -->
        <div class="form-group">
            <label for="petdataNascimento">Data de Nascimento:</label> <span class="error"> #{error 'felino.dataNascimento'/}</span>

            <input type="date" id="petdataNascimento" name="felino.dataNascimento" value="${fe?.dataNascimento}" 
                > 
        </div>

        <!-- Input Raça -->
        <div class="form-group">
            <label for="petRaca">Raça:</label> <span class="error"> #{error 'felino.raca'/}</span>
            <input type="text" id="petRaca" name="felino.raca" value="${fe?.raca}" placeholder="Informe a raça do pet"
                 min="0">
        </div>
        <!-- Input Peso -->
        <div class="form-group">
            <label for="petPeso">Peso:</label> <span class="error"> #{error 'felino.peso'/}</span>
            <input type="number" id="petPeso" name="felino.peso" value="${fe?.peso}" placeholder="Informe o peso do pet"
                 min="0">
        </div>

        <!-- Select Sexo -->
        <div class="form-group">
            <label for="petdataNascimento">Sexo:</label> 


            <select name="felino.sexo">

                <!--  -->

                <option value="" disabled selected>Selecione uma opção</option>
                #{list items: sexos, as: 's'}
                <!-- <option value="${s}"> ${s}</option> -->

                <option value="${s}" #{if fe?.sexo==s} selected #{/if}>${s}</option>

                #{/list}


            </select>
        </div>

        <!-- Button -->
        <button type="submit" class="submit-button">
            #{if fe} Salvar Alterações #{/if}
            #{else} Cadastrar Pet #{/else}
        </button>

        <a href="@{Pets.listar}" class="back-button">Lista de Pets</a>
    </form>
</main>