#{extends 'main.html' /}
#{set title:'Formulário' /}


<div>Relacionado um pet à pessoa com nome: <strong>${pessoa?.nome}</strong></div>

<br>

<form action="@{Pets.salvar}" method="post">

    <h1>
        #{if fe} Edição #{/if}
        #{else} Cadastro #{/else}
    </h1>


    <input type="hidden" name="felino.id" value="${fe?.id}">

    <input type="hidden" name="felino.dono.id" value="${pessoa?.id}">

    <label>Nome</label>
    <input type="text" name="felino.nome" value="${fe?.nome}"> <br />

    <label>Idade</label>
    <input type="text" name="felino.idade" value="${fe?.idade}"> <br />

    <button type="submit">
        #{if fe} Editar #{/if}
        #{else} Cadastrar #{/else}
    </button>


</form>