#{extends 'main.html' /}
#{set title:'Listagem de Pets' /}



<table>
    <tr>
        <th class="title" colspan="4">Listagem Pets</th>
    </tr>

    <tr>

        <th>Nome</th>
        <th>Idade</th>
        <th colspan="2">Ações</th>

    </tr>

    #{list items: lista, as: 'pet'}

    <tr>

        <td>${pet.nome}</td>
        <td>${pet.idade}</td>
        <td><a href='@{Pets.editar(pet.id)}'>Editar</a></td>
        <td><a href='@{Pets.remover(pet.id)}'>Remover</a></td>

    </tr>

    #{/list}
</table>