#{extends 'main.html' /}
#{set title:'Listagem de Pessoas' /}

<h2>Filtro de pessoas</h2>
<form action="@{Pessoas.listar}">


    <input type="text" name="busca">

    <button type="submit">Pesquisar</button>

</form>


<table>

    <tr>
        <th colspan="5">
            <h3>Listagem Pessoas</h3>
        </th>
    </tr>

    <tr>

        <th>Nome</th>
        <th>Email</th>
        <th colspan="3">Ações</th>

    </tr>

    #{list items: lista, as: 'pessoa'}

    <tr>
        <td>${pessoa.nome}</td>
        <td>${pessoa.email}</td>


        <td><a href='@{Pets.form(pessoa.id)}'>Adicionar novo pet</a></td>

        <td><a href='@{Pessoas.editar(pessoa.id)}'>Editar</a></td>
        <td><a href='@{Pessoas.remover(pessoa.id)}'>Remover</a></td>
    </tr>

    #{/list}

</table>