#{extends 'main.html' /}
#{set title:'Formulário de login' /}


<!-- Copiei e colei mesmo -->

<!-- Primeiro, para qual action vc vai mandar -->
<!-- Resposta, Logins.logar -->
<form action="@{Logins.logar}" method="post">

    <!-- Não tem input hidden com o id -->

    <!-- Como vamos mandar strings, e não um objeto todo, vamos tirar esses "pessoa." -->
    <!-- Lembresse disso, quando vc vai isso (pessoa.nome, carro.marca)
     vc ta fazendo o form construir um objeto, e não é isso q queremos.
     Queremos mandar apenas strings, e para isso, vamos tirar os "pessoa." 
     -->

    <!-- E os values tbm -->
    <input type="text" name="email">

    <input type="password" name="senha">

    <button type="submit">Enviar</button>

</form>