#{extends 'main.html' /}
#{set title:'Formulário' /}

<form action="@{Usuarios.salvar}" method="post">

    <h1>Cadastro</h1>

    <input type="hidden" name="usu.id" value="${usu?.id}">

    <label>Nome</label>
    <input type="text" name="usu.nome" value="${usu?.nome}"> <br />

    <label>email</label>
    <input type="text" name="usu.email" value="${usu?.email}"> <br />

    <label>senha</label>
    <input type="password" name="usu.senha" value="${usu?.senha}"> <br />

    <label>Data Nascimento</label>
    <input type="date" name="usu.dataNascimento" value="${usu?.dataNascimento}"> <br />

    <select name="usu.Pet.id">
        <option value=""></option>

        #{List items:Pets, as: 's'}
        <option value="${s.id}"></option>
        #{/List}
        #{if usu?.Pet?.id == s.id} selected #{/if}
        <option value="${s.nome}"></option>

    </select> <br/>



    <!-- #{select 'usu.Pet.id', value:u?.Pet?.id }
		#{option}#{/option}
		
		#{list items:Pets, as:'s'}
			#{option s.id} ${s.nome} #{/option}			
		#{/list}
		
	#{/select} -->

    <button type="submit">Enviar</button>








</form>