#{extends 'main.html' /}
#{set title:'Formulário' /}

<form action="@{Usuarios.salvar}" method="post">

    <h1>Cadastro</h1>

    <input type="hidden" name="usu.id" value="${usu?.id}">

    <label>Nome</label>
    <input type="text" name="usu.nome" value="${usu?.nome}"> <br />

    <label>email</label>
    <input type="text" name="usu.email" value="${usu?.email}"> <br />

    <label>senha</label>
    <input type="password" name="usu.senha" value="${usu?.senha}"> <br />

    <label>Data Nascimento</label>
    <input type="date" name="usu.dataNascimento" value="${usu?.dataNascimento}"> <br />

    <button type="submit">Enviar</button>








</form>