<!DOCTYPE html>

<html>

<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
</head>

<body>
    <a href="@{Pessoas.form}">Form de pessoa</a>
    <a href="@{Pessoas.listar}">Listar de pessoa</a>
    <a href="@{Carros.form}">Form de carro</a>
    <a href="@{Carros.listar}">Listar de pessoa</a>
    <a href="@{Logins.logar}">Login</a>
    <a href="@{Logins.deslogar}">Deslogar</a>

    <!-- #{if session['dadosUsu']}
    <div>${session['dadosUsu']} </div>
    #{/if} -->
    <!-- mostrar usuario na tela -->

    <br><br><br>
    #{doLayout /}

    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}
</body>

</html>