#{extends 'main.html' /}
#{set title:'Listagem de consultas' /}


    <div class="business-card">
        <div class="card-left">
            <div class="logo-area">
                <div class="logo-icon">FVC</div>
            </div>
        </div>

        <div class="card-right">
            <div class="name-position">
                <h1 class="name">Consulta</h1>
            </div>
            
            <div class="contact-info">
                <div class="info-item">
                    <p>20/20/20</p>
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="info-item">
                    <p>Asludo</p>
                    <i class="fas fa-globe"></i>
                </div>
                <div class="info-item">
                    <p>Em andamento</p>
                    <i class="fas fa-envelope"></i>
                </div>
            </div>

            <div class="iconeAgenda">
                <i class="fas fa-calendar-alt"></i>
                </div>
        </div>
    </div>

      <div class="business-card">
        <div class="card-left AGENDADA">
            <div class="logo-area">
                <div class="logo-icon">FVC</div>
            </div>
        </div>

        <div class="card-right">
            <div class="name-position">
                <h1 class="name">Consulta</h1>
            </div>
            
            <div class="contact-info">
                <div class="info-item">
                    <p>20/20/20</p>
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="info-item">
                    <p>Asludo</p>
                    <i class="fas fa-globe"></i>
                </div>
                <div class="info-item">
                    <p>Em andamento</p>
                    <i class="fas fa-envelope"></i>
                </div>
            </div>

            <div class="iconeAgenda">
                <i class="fas fa-calendar-alt"></i>
                </div>
        </div>
    </div>

      <div class="business-card">
        <div class="card-left FINALIZADA">
            <div class="logo-area">
                <div class="logo-icon">FVC</div>
            </div>
        </div>

        <div class="card-right">
            <div class="name-position">
                <h1 class="name">Consulta</h1>
            </div>
            
            <div class="contact-info">
                <div class="info-item">
                    <p>20/20/20</p>
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="info-item">
                    <p>Asludo</p>
                    <i class="fas fa-globe"></i>
                </div>
                <div class="info-item">
                    <p>Em andamento</p>
                    <i class="fas fa-envelope"></i>
                </div>
            </div>

            <div class="iconeAgenda">
                <i class="fas fa-calendar-alt"></i>
                </div>
        </div>
    </div>