#{extends 'main.html' /}
#{set title:'listagem' /}

<table>

    <tr>
        <th>Marca</th>
        <th colspan="3">Ações</th>
    </tr>

    #{list items: lista, as: 'carro'}
    <tr>
        <td>${carro.marca}</td>
        <td><a href="@{Carros.detalhar(carro.id)}">Detalhar</a></td>
        <td><a href="@{Carros.editar(carro.id)}">Editar</a></td>
        <td><a href="@{Carros.remover(carro.id)}">Remover</a></td>
    </tr>
    #{/list}

    #{else}
    <tr>
        <td>Nenhum carro cadastrado!</td>
    </tr>
    #{/else}

</table>