#{extends 'main.html' /}
#{set title: 'Feline Clinic' /}
<section class="hero-section container">
    <div class="hero-content">
        <h1>GATOGATOGATOGATOGATOGATOGATOGATOGATO!</h1>
        <p>Especialistas em saúde felina, oferecemos um ambiente tranquilo e serviços completos para o bem-estar e a
            felicidade do seu gato.</p>
        <div class="hero-buttons">
            <a href="@{Pessoas.form()}" class="hero-button primary">Marque uma Consulta</a>

        </div>
    </div>
    <div class="hero-image">
        <img src="public/images/otoGato2.png" alt="Gato cinza olhando para a frente">
    </div>
</section>

<section class="features-section container">
    <h2>Por que nos escolher?</h2>
    <div class="features-grid">
        <div class="feature-item">
            <i class="fas fa-cat-house"></i>
            <h3>Profissionais Especializados</h3>
            <p>Veterinários com especialização e vasta experiência em medicina felina..</p>
        </div>
        <div class="feature-item">

            <h3>Cuidado e Carinho em Cada Consulta</h3>
            <p>Tratamos cada paciente como se fosse nosso, com paciência, carinho e dedicação.</p>
        </div>
        <div class="feature-item">

            <h3>Ambiente exclusivo para Gatos</h3>
            <p>Proporcionamos uma experiência completa, onde a saúde do seu gato é cuidada com excelência técnica e
                muito afeto.</p>
        </div>
    </div>
</section>